@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inner {
  margin: 0 auto;
  padding: 0 1rem;
}



/* 전체 글꼴 설정 */
html, body {
  font-family: "SBAggroB";
  height: 100vh;
}

/* 카테고리 버튼 호버 파란색 */
.nav-link:hover {
  color: #0d6efd !important;
}

/* 카테고리 글꼴 개별설정 */
.category {
  font-family: "SBAggroM";
}

/* 카테고리 버튼  애니메이션 */
.btn {
  transition: 0.1s;
}
.btn:focus {
  box-shadow: none !important;
  color: #0d6efd;
  transform: translate(0, -5px);
}

/*  */
main {
  height: 90%;
}

.main-container {
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.main-container h2 {
  word-break: keep-all;
}



@media only screen and (min-width: 1200px) {
  div.inner {
    max-width: 1200px;
  }
}
